h1,
h2,
h3 {
  color: rgb(126, 126, 172);
}
img {
  position: absolute;
  top: 0;
  right: 0;
}
.weekly-weather {
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
}
i {
  color: #a05183;
}
button {
  background-color: #f58eac !important;
  display: inline-block !important;
}
input {
  display: inline-block !important;
}
.scale {
  display: inline-block;
}
h3 {
  display: inline-block;
}
